body {
  background: url(ct.jpg) repeat;
}

html, body {
  height: 100%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
  left: 0;
}